{% extends "base.html" %}
{% load staticfiles %}


{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Deck{% endblock %}


{% block css %}
    <!-- <link href="{% static '/css/flip.css' %}" rel="stylesheet"> -->
{% endblock css %}

{% block navbar %}

    <div class="navbar navbar-default navbar-fixed-top navbar-transparent" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">
            {% block navbar-brand %}
              <img src="{% static '/img/flash.png' %}" alt="logo">
              <!-- {% include "_brandname.html" %} -->
            {% endblock %}
          </a>
        </div>
    </div>

{% endblock navbar %}



{% block container %}


        <form class="form-inline">
            <div class="form-group">  
                <input class="form-control input-lg" id="team_name" type="text" name="deck_name" placeholder="Name Deck">
                <input class="input-lg" id="exampleInputFile" type="file">
            </div>
        </form>
        <div style="padding:1em;">  </div>
        <form class="form-horizontal">
            <div class="form-group"> 
                <textarea class="form-control input-lg" type="text" rows="12" placeholder="Type or copy and paste flashcard text here."></textarea>
            </div>
            <div>  
                <button type="submit" class="btn-lg btn-primary" href="{% url 'deck:index' %}">Submit</button> 
                </label>
            </div>
        </form>




<!-- <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
  <button type="submit" class="btn btn-default">Send invitation</button>
</form> -->

{% endblock container %}

